<!doctype html>
<html layout:decorator="layouts/single"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.thymeleaf.org">
<head></head>
<body>
<main layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12
						col-sm-10 col-sm-offset-1
						col-md-8 col-md-offset-2
						col-lg-6 col-lg-offset-3">
				<h2 th:text="#{option.edit_title(${option.name})}"></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12
						col-sm-10 col-sm-offset-1
						col-md-8 col-md-offset-2
						col-lg-6 col-lg-offset-3">
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12
						col-sm-10 col-sm-offset-1
						col-md-8 col-md-offset-2
						col-lg-6 col-lg-offset-3">
				<form th:object="${option}"
					  th:action="@{/options/save}"
					  method="post"
					  class="imp-form">
					<input type="hidden" name="type" th:value="${option.getClass().getName()}"/>
					<input type="hidden" class="form-control" th:field="*{name}" id="opt-name"/>

					<div class="input-group">
						<label for="opt-value"
							   class="input-group-addon"
							   th:text="#{option.name}"></label>
						<input type="text"
							   class="form-control"
							   id="opt-value"
							   th:field="*{value}"
							   th:if="*{!hasPossibleValues()}"/>
						<select id="opt-value"
								class="selectpicker"
								th:field="*{value}"
								th:if="*{hasPossibleValues()}">
							<option th:each="possibleValue : *{possibleValues}"
									th:value="${possibleValue}"
									th:text="${possibleValue}"></option>
						</select>
					</div>

					<div class="btn-toolbar text-right">
						<button class="btn btn-primary"
								th:text="#{common.save}">
							**save**
						</button>
						<a th:href="@{/options/show}"
						   th:text="#{common.cancel}"
						   class="btn btn-default" >
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
</body>
</html>