<!doctype html>
<html layout:decorator="layouts/single"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.thymeleaf.org">
<head></head>
<body>
<main layout:fragment="content">
	<div class="container">
    	<div class="row">
			<div class="col-xs-12
						col-sm-10 col-sm-offset-1
						col-md-8 col-md-offset-2
						col-lg-6 col-lg-offset-3">
				<table class="table">
					<thead>
					<tr>
						<th th:text="#{option.name}"></th>
						<th th:text="#{option.value}"></th>
						<th th:text="#{common.possible_actions_short}"></th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="option : ${options}">
						<td th:text="${option.name}"></td>
						<td th:text="${option.value}"></td>
						<td>
							<a th:href="@{/options/edit(name=${option.name})}"
							   class="btn btn-default">
								<span class="glyphicon glyphicon-edit"></span>
								<span th:text="#{common.edit}"
									  class="hidden-xs hidden-sm"></span>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>
</body>
</html>