<!doctype html>
<html layout:decorator="layouts/single"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
</head>
<body>
<main layout:fragment="content" class="container">
    <div class="row">
        <div class="col-xs-12" th:if="${!approval}"
             th:text="#{print.success}">
        </div>
        <div class="col-xs-12" th:if="${approval}"
             th:text="#{print.needs_approval}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" th:text="${'**Bitte ' + cost + ' zahlen**'}">
            Cost
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a th:href="@{/}"
               th:text="#{back.start}"
               class="btn btn-primary btn-block">
            </a>
        </div>
    </div>
</main>
</body>
</html>