<!DOCTYPE html>
<html layout:decorator="layouts/single"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
</head>
<body>
    <main layout:fragment="content"
		  class="container"
		  th:with="hasDocuments = ${documents ne null and documents.size() > 0}">
        <div class="row" th:if="${hasDocuments}">
            <form method="get" th:action="@{/print/cart}">
				<button class="btn btn-primary" type="submit">
					<span class="glyphicon glyphicon-print"></span>
					<span th:text="#{print}"></span>
				</button>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12" th:if="${hasDocuments}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{document.name_short}"></th>
                        <th th:text="#{document.lecture_short}"></th>
                        <th th:text="#{document.lecturer_short}"></th>
                        <th th:text="#{possible_actions_short}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="document : ${documents}">
                        <td th:text="${document.name}"></td>
                        <td th:text="${document.lecture?.name}">-</td>
                        <td th:text="${document.lecturer?.name}">-</td>
                        <td>
                            <form th:action="@{/cart/remove/document}">
                                <input type="hidden" name="id" th:value="${document.id}"/>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
			<div class="col-xs-12
						col-sm-10 col-sm-offset-1
						col-md-8 col-md-offset-2
						col-lg-6 col-lg-offset-3"
				 th:if="${not hasDocuments}">
				<div class="text-center lead">
					<span class="glyphicon glyphicon-ban-circle"></span>
				</div>
				<div class="text-center">
					<span th:text="#{cart.empty_long}"></span>
				</div>
			</div>
        </div>
        <div class="row" th:if="${hasDocuments}">
            <form method="get" th:action="@{/print/cart}">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-print"></span>
                    <span th:text="#{print}"></span>
                </button>
            </form>
        </div>
    </main>
</body>
</html>