<!DOCTYPE html>
<html layout:decorator="layouts/single"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
</head>
<body>
    <main layout:fragment="content"
		  class="container"
		  th:with="hasDocuments = ${documents ne null and documents.size() > 0}">
        <div class="row" th:if="${hasDocuments}">
            <form method="get" th:action="@{/print/cart}">
				<button class="btn btn-primary" type="submit">
					<span class="glyphicon glyphicon-print"></span>
					<span th:text="#{print}"></span>
				</button>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12" th:if="${hasDocuments}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{document.name_short}"></th>
                        <th th:text="#{document.lecture_short}"></th>
                        <th th:text="#{document.lecturer_short}"></th>
						<th th:text="#{document.copies}"></th>
                        <th th:text="#{possible_actions_short}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="printJobDoc : ${documents}">
                        <td th:text="${printJobDoc.document.name}"></td>
                        <td th:text="${printJobDoc.document.lecture?.name}">-</td>
                        <td th:text="${printJobDoc.document.lecturer?.name}">-</td>
						<td class="imp-copy-count-cell">
							<form th:action="@{/cart/item/copies}">
								<input type="hidden" name="id" th:value="${printJobDoc.id}"/>
								<div class="input-group">
									<div class="input-group-btn">
										<button class="btn btn-default"
												name="copyCount"
												th:disabled="${printJobDoc.count eq 1}"
												th:value="${printJobDoc.count} - 1">
											<span class="glyphicon glyphicon-minus"></span>
										</button>
									</div>
									<input type="number"
										   class="imp-copy-count form-control"
										   th:value="${printJobDoc.count}"/>
									<div class="input-group-btn">
										<button class="btn btn-default"
												name="copyCount"
												th:value="${printJobDoc.count} + 1">
											<span class="glyphicon glyphicon-plus"></span>
										</button>
									</div>
								</div>
							</form>
						</td>
                        <td>
                            <form th:action="@{/cart/remove/item}">
                                <input type="hidden" name="id" th:value="${printJobDoc.id}"/>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
			<div class="col-xs-12
						col-sm-10 col-sm-offset-1
						col-md-8 col-md-offset-2
						col-lg-6 col-lg-offset-3"
				 th:if="${not hasDocuments}">
				<div class="text-center lead">
					<span class="glyphicon glyphicon-ban-circle"></span>
				</div>
				<div class="text-center">
					<span th:text="#{cart.empty_long}"></span>
				</div>
			</div>
        </div>
        <div class="row" th:if="${hasDocuments}">
            <form method="get" th:action="@{/print/cart}">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-print"></span>
                    <span th:text="#{print}"></span>
                </button>
            </form>
        </div>
    </main>
</body>
</html>